/* a标签默认属性清除 */
a{
    text-decoration: none;
}
/* 内外边距清零 */
*{
    padding: 0;
    margin: 0;
}
/* ul标签默认属性清除 */
ul{
    list-style: none;
}
.clearfix::after{
    content:'';
    display:block;
    clear:both;
}
/* 大容器 */
.sn-container{
    height: 40px;
    width: 100%;
}

.nav-wrapper{
    /* 容器 */
    height: 40px;
    width: 100%;
    background: #f12f04;
    color:#fff;
    line-height: 40px; 
    font-size: 12px;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);
}

.nav-main{
    float: left;
}
.nav-menu-list{
    float: left;
    padding: 0 14px;
    position: relative;
}
.nav-menu-list>a{
    text-decoration: none;
    color: #fff;
}
.nav-menu{
    float:right;
}
.nav-main-bt1{
    /* 请登录 左右边距 */
    padding-left:20px;
    padding-right:10px;
    color: #fff;
    text-decoration:none;
    }

.nav-main-bt2{
    /* 免费注册 左右边距 */
    padding-left:10px;
    padding-right: 10px;
    color: #fff;
    text-decoration:none;
}
.nav-menu-hd{
    /* 我的淘宝 收藏夹 商家支持 内边距 */
    padding-left: 10px;
    padding-right: 10px;
}
.nav-menu-hd:hover .nav-menu-list-arrow{
    /* 我的淘宝 收藏夹 商家支持 小箭头旋转 */
    -webkit-transition:all 0.3s  ease-in ;
    transition:all 0.3s  ease-in ;
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);

}
.nav-menu-list-special:hover{
    /* 鼠标滑入白色背景 */
    background: #fff;
    color: #666;
}
.nav-menu-list-special:hover>a{
    /* 鼠标滑入a标签颜色及下划线 */
    
    color: #ff0036;
    text-decoration: underline;
}
.nav-menu-list-special:hover .nav-menu-inner{
    display:block;
}
.nav-menu-inner{
    display: none;
    width: 74px;
    padding:0 10px;
    background: #fff;
    position: absolute;
    border:1px solid #eee;
    border-top: none;
    left:-0.5px;
    z-index:2;
}
.nav-menu-inner li:hover a{
    
    text-decoration: underline;
    color: #ff0036;

    
}
.arrow-sjzc{
    display:none;
    width:122px;
    overflow:hidden;
    right:0;
    left:auto;
}
.arrow-sjzc a{
    display:block;
    width:48px;
    margin-right:20px;
}
.nav-menu-inner a{
    color: #666;
}
#nav-img-a{
    display: block;
    
}
.nav-menu-mobile{
    /* 手机容器左右边距 */
    padding-left: 10px;
    padding-right: 10px;
}
.nav-menu-li :hover{
    color: #ffe013
}
.nav-menu-cart{
    /* 购物车 */
    padding-left: 10px;
    padding-right: 10px;
}
.nav-menu-sit{
    padding-left: 10px;
    padding-right: 14px;
}
.nav-menu-sit:hover .nav-menu-list-arrow{
    /* 网站导航小箭头旋转 */
   
    -webkit-transition:all 0.3s  ease-in ;
    transition:all 0.3s  ease-in ;
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.nav-menu-list-arrow
{
    display: inline-block;
    border:4px solid #bbb;
    border-left-color:transparent;
    border-right-color: transparent;
    border-bottom-color:transparent;

}
.nav-menu-special-li a{
    /* a标签字体颜色 */
    color:#666;
}
.nav-menu-qr{
    /* 手机版二维码容器 */
    display: none;
    width:175px;
    height: 227px;
    position: absolute;
    left: -54px;
    text-align:center;
    box-shadow: 1 1 #666;
}
.nav-menu-mobile:hover .nav-menu-qr{
    display:block;
}
.nav-menu-qr-bg{
    /* 手机版二维码 */
    width:175px;
    height: 175px;
    background: url(../imgs/qr.png);
}
.nav-menu-qr-arrow{
    display: inline-block;
    border:4px solid #fff;
    border-left-color:transparent;
    border-right-color: transparent;
    border-top-color:transparent;
    position: absolute;
    top: -10px;
}


/* 搜索 */
#search{
    width:100%;
    height:130px;
}
/*  */
#search-wrapper{
    width:1230px;
    margin:0 auto;
    position:relative;
}
/* logo容器 */
#search-logo{
    position:absolute;
    top:0;
    left:0;
    display:block;
    

}
/* logo图片 */
#search-wrapper img{
    position:absolute;
    top:0;
    left:0;
    height:130px; 
    width: 290px;
    float:left;
    
}
/* 搜索栏居中容器 */
#search-container{
    width: 625px;
    height:92px;
    margin:0 auto;
    padding-top:38px;   
}
/* 搜索栏边框 */
#search-content{
    height:36px;
    border:2px solid #ff0036;
    /* margin-top:38px; */
}
/* 搜索按钮 */
#search-content button{
    border:none;
    width:130px;
    height:36px;
    line-height:36px;
    text-align:center;
    color:#fff;
    background-color:#ff0036;
    font-size:18px;
    font-weight:700;
    float:left;
    
}
/* 搜索栏输入框 */
#search-content input{
    float:left;
    outline:none;
    border:none;
    width:481px;
    height:26px;
    padding:5px;

}
#search-type{
    margin-top:5px;
}
#search-type a{
    font-size:14px;
    color:#999;
    padding:0 12px;
    border-right:1px solid #ccc;
}
/* 最后一个元素取消右边框 */
#search-type a:last-child{
    border:none;
}
/* 热门物品红字 */
#search-type .search-type-red{
    color: #ff0036;
    
}
#search-type a:first-child{
    padding-left:0;
}
.main{
    width:100%;
}
.inner{
    width:1230px;
    margin:0 auto;
    height:36px;
    
}
.inner img{
    display:block;
    width:100px;
    height:30px;
    margin-top:3px;
}
.inner a{
    display:block;
    float:left;
    height:36px;
    padding:0 8px;
    font-size:16px;
    line-height:36px;
    color:#333;

} 
.inner a:first-child{
    margin-left:200px;
}
.inner a:hover{
    color:#ff0036;
}


#container{
    width:100%;
}
#wrapper{
    width:1230px;
    margin:0 auto;
}
#slider{
    position:relative;
    border-top:2px solid #ff0036;

}
#menu{
    width:200px;
    position:absolute;
    top:-36px;
    left:0;
    z-index:2;
}
#menu-title{
    width:200px;
    height:36px;
    line-height:36px;
    text-indent:20px;
    font-weight:700;
    color:#fff;
    background-color:#ff0036;
}
#menu-content{
    background-color:rgba(0,0,0,.55);
    height:500px;
    position:relative;
}
.menu-inner{
    display:none;
    width:853px;
    height:500px;
    background-color:#fff;
    position:absolute;
    top:0;
    left:200px;
}
.menu-content-list:hover .menu-inner{
    display:block;
}
.menu-content-list:hover .hot-word{
    color:#e54077;
}
.menu-inner-left{
    width: 583px;
    height: 462px;
    margin:19px 30px;
    float: left;
    position:relative;
    
}
.menu-inner-right{
    width: 189px;
    height: 480px;
    float: left;
    background-color:#fafafa;
    padding:10px;
}
.menu-inner-right a{
    display:block;
    float:left;
    width:73px;
    height:37px;
    margin-right:1px;
    margin-bottom:1px;
    padding:5px 10px;
    background-color:#ffffff;

}
.menu-inner-right img{
    display:block;
    width:73px;
    margin:0 auto;

}
.line-con{
    float:left;
    border-bottom: 1px dotted rgb(0,0,0,0.1);
    position:absolute;
    left:70px;
}
.line-con a{
    padding-left:13px;
    color: #666;
    

}
.menu-type-list{
    font-size:14px;
    height:66px;
}
.menu-type-list2{
    font-size:14px;
    height:44px;
}
.menu-type-list-title{
   
    float:left;
    color:#333;
    line-height:31px;
    font-weight:600;
    text-align:center;
    position:absolute;

}
.menu-content-list{
    height:31px;
    line-height:31px;
    font-size:14px;
    color:#fff;
}
.menu-content-list>i{
    color:#fff;
    margin:0 4px 0 14px;
    opacity:0.5;
}
.menu-content-list:hover{
    background:#fff;
    font-weight:700;

}
.menu-content-list:hover .line-con a{
    font-weight:400;
}

.menu-content-list>a{
    color:#fff;
}


/* 小图标边距 */
.icon-daohang1{
    font-size:16px;
}
/* 商品分类小图标属性 */
.menu-icon{
    font-size:16px;
}
/* 鼠标划入红色字体样式 */
.content-list-e5:hover,
.content-list-e5:hover>a,
.content-list-e5:hover>i{
    color:#e54077;
    
}
/* 427DEF颜色字体 */
.content-list-427:hover,
.content-list-427:hover>a,
.content-list-427:hover>i{
    color:#427DEF;
}
/* 6347ED颜色字体 */
.content-list-634:hover,
.content-list-634:hover a,
.content-list-634:hover i{
    color:#6347ED;
}
/* FA5C5C颜色字体 */
.content-list-fa5:hover,
.content-list-fa5:hover a,
.content-list-fa5:hover i{
    color:#FA5C5C;
}
/* F7A831颜色字体 */
.content-list-f7a:hover,
.content-list-f7a:hover a,
.content-list-f7a:hover i{
    color:#F7A831;
}
/* dd2727颜色字体 */
.content-list-dd2:hover,
.content-list-dd2:hover a,
.content-list-dd2:hover i{
    color:#DD2727;
}
.content-list-3bc:hover,
.content-list-3bc:hover a,
.content-list-3bc:hover i{
    color:#3bc7b0;
}
/* 轮播图 */
#slider-container{
    width:100%;
    height:496px;
    overflow:hidden;
    position:relative;
}
#slider-img{
    width:1230px;
    overflow:hidden;
    
}
#slider-img>img{
    display:none;
    /* display:block; */
    width:100%;
    height:500px;
}
#slider-img img.active{
    display:block;
}
#slider-pointer{
    margin-left:-70px;
    position:absolute;
    bottom:40px;
    left:50%;
}
#slider-pointer li{
    width:25px;
    height:5px;
    margin:0 5px;
    float:left;
    opacity:0.3;
    background-color:#000;
    cursor: pointer;

}
#slider-pointer li.active{
    background-color:#fff;
}
#content{
    top: 522px;
    width:100%;
    position: relative;
    background-color:#999999;
}
#content-wrapper{
    width: 1230px;
    margin:0 auto;
    padding-top:24px;
    padding-right:30px;
    background-color:#999999;
}
.content-head{
    width:234px;
    height:55px;
    font-weight:700;
    background-color:#fff;
    color:#333;
    vertical-align:middle;
    
    
}
.content-head-cn{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 55px;

    
}
.content-list{
    float:left;
    margin-right:13px;
}
.content-head-en{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-left: 10px;
    

}
.content-head-more{
    display:block;
    height:100%;

}
/* 更多小箭头 */
.content-head-more img{
    width:18px;
    height:18px;
    line-height:18px;
    vertical-align:middle;
}
/* 导航图片 */
.content-load>img{
    height:316px;
}



